header {
    background-color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: #285041;
    cursor: pointer;
}

.logo img {
    width: 60px;
    height: 50px;
}

.icons img {
    width: 30px;
    height: 35px;
    margin-left: 15px;
}

/* Slider */

.slider {
    margin-top: 20px;
    background-image: url(imagens/sliderhome.png);
    background-size: cover; /* Ajusta para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição */
    height: 650px; /* Defina a altura da seção conforme necessário */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 0px; /* Espaço interno */
}

.container {
    display: flex;
    gap: 1px; /* espaço entre os elementos */
  }
  .box {
    width: 100px;
    height: 100px;
    
    text-align: right;
    padding-left: 215px;
    padding-top: 60px;
    font: bold;
    color: #285041;

    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

  }

  .linha{
    color: #fff;
    width: 180px;
  }

  .detalhes{
    display: flex;
padding-top: 170px;
font-size: 15px;
gap: 20px;
  }

  .We{
    color: #285041eb;
  }

  .secundario{
    font-size: 12px;
    font-family: "League Spartan", sans-serif;
  }

.primario {
    flex-direction: column; /* Alinha os textos verticalmente */
    justify-content: center;
    font-family: "League Spartan", sans-serif;
    font: bold;
  }
  .paragrafo {
    display: flex;
    flex-direction: column;
  }

  .menu-icon {
    cursor: pointer;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-icon div {
    width: 100%;
    height: 4px;
    background-color: #2d4c2d;
  }

  /* Menu oculto por padrão */
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 1301px;
    background-color: #427653de;
    width: 200px;
    height: 170px;
  }

  .menu a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
    padding-top: 15px;
  }

  /* Classe para exibir o menu */
  .menu.show {
    display: flex;
  }

 .uniquifier {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding-left: 250px;

  }

  .ano{
    color: #285041;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }

  .seasons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CBD5D6;
    padding: 40px;
    border-radius: 10px;
    max-width: 1300px;
    margin: auto;
}

/* Individual season box styling */
.season {
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.season-icon {
    height: 150px;
    width: 150px;

}

.season-label {
    font-size: 1.5em;
    font-weight: bold;
    color: #285041;
    padding-top: 60px;
    padding-left: 25px;
}

footer {
  background-color: white;
  padding: 25px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-top: 5px solid #2a5c3f; /* Linha verde no final do header */
  margin-top: 100px;
}

.logo-container {
  flex: 1;
}

img.logo2 {
  width: 160px;
  height: 155px;
  margin: 20px;
}

.contact-container {
  flex: 2;
  text-align: center;
}

.contact-container h2 {
  color: #285041;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 35px;
}

.social-icons a .icon {
  width: 37px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.social-icons a .icon img {
  width: 24px;
  height: 24px;
}

.social-icons a:hover .icon {
  border-color: #285041; /* Change the border color on hover */
}

.email-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  text-align: left;
  background-color: #e0e0e0;
}

.footer-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.footer-nav a {
  color: #285041;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "League Spartan", sans-serif;
}