header {
    background-color: #fff;
    padding: 10px;
    border-bottom: 5px solid #2a5c3f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: #285041;
    cursor: pointer;
}

.logo img {
    width: 50px;
}

.icons img {
    width: 30px;
    margin-left: 15px;
}

/* Slider */

.slider {
    margin-top: 50px;
    background-image: url(imagens/sliderhome.png);
    background-size: cover; /* Ajusta para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição */
    height: 600px; /* Defina a altura da seção conforme necessário */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 0px; /* Espaço interno */
}

.container {
    display: flex;
    gap: 1px; /* espaço entre os elementos */
  }
  .box {
    width: 100px;
    height: 100px;
    
    text-align:right;
    padding-left: 215px;
    padding-top: 50px;
    font: bold;

  }

  .detalhes{
    display: flex;
padding-top: 200px;
font-size: 15px;
gap: 20px;
  }

  .We{
    color: #285041;
  }

  .secundario{
    font-size: 10px;
  }

.primario {
    flex-direction: column; /* Alinha os textos verticalmente */
    justify-content: center;
  }
  .paragrafo {
    display: flex;
    flex-direction: column;
  }