header {
    background-color: #fff;
    padding: 10px;
    border-bottom: 5px solid #2a5c3f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: #285041;
    cursor: pointer;
}

.logo img {
    width: 50px;
}

.icons img {
    width: 30px;
    margin-left: 15px;
}


.slider{
    padding-top: 50px;
    width: 2000px;
}