* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body {
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color: #285041;
    cursor: pointer;
}

.logo img {
    width: 50px;
}

.icons img {
    width: 30px;
    margin-left: 15px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box,
.social-login {
    background-color: #427653d8;
    padding: 50px;
    border-radius: 20px;
    color: #fff;
    margin: 0px;
    width: 500px;
    text-align: center;
}

.login-box {
    background-color: #285041da;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
}

.extras {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #285041;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.social-login button {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    background-color: #3f614b;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.social-login .google {
    background-color: #fff;
    color: #285041;
    font-size: medium;
    padding: 6px;
    
}

.social-login .twitter {
    background-color: #fff;
    color: #285041;
    font-size:medium;
}

.social-login .phone {
    background-color: #fff;
    color: #285041;
    font-size: medium;
}

.admin-link {
    color: #fff;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}

.social-login{
    height: 388.2px;

}

.social-login img{
    width: 30px;
    height: 30px;
    margin-right: 170px;
}