* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
  }

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .menu-icon span {
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #285041;
  }
  
  .logo img {
    width: 80px;
    height: auto;
  }

    
  .nav-icons {
    display: flex;
    gap: 40px;
  }
  
  .nav-icons img {
    width: 24px;
    height: auto;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 0 20px;
    }
  
    .logo img {
      width: 30px;
    }
  
    .nav-icons img {
      width: 20px;
    }
  }
  

.cart-icon {
    font-size: 40px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.titulo1 {
    color: #285041;
}